<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	
		<title>新闻快讯</title>
	
		<link rel="stylesheet" type="text/css" href="plugin/font-awesome-4.6.3/css/font-awesome.css"/>
		<link rel="stylesheet" type="text/css" href="plugin/bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="src/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="plugin/Swiper-3.3.1/dist/css/swiper.css"/>
		<link rel="stylesheet" type="text/css" href="src/css/index.css"/>
		
		<script src="plugin/jquery-2.1.1.min.js" type="text/javascript"></script>
		<script src="plugin/Swiper/dist/js/swiper.min.js" type="text/javascript"></script>
		<script src="plugin/iscroll/build/iscroll.js" type="text/javascript" ></script>
		<script type="text/javascript" src="plugin/angular.min.js"></script>
		<script src="src/js/index.js" type="text/javascript"></script>
	</head>	
	
	<body ng-app="home" ng-controller="CON">
		<!-- 这罩层 -->
		<div id="mask" ng-if="mask"></div>

		<!----------------头---------------------->
		<header>
			<div class="heade_first">
				<a href="javascript:window.history.go(-1)" class="goBack">
					<i class="fa fa-chevron-left"></i>
				</a>
			</div>
			<div class="heade_second"><i class="fa fa-file-text"></i>&nbsp;新闻快讯</div>
			<div class="heade_third">
				<a href="search.html"><i class="glyphicon glyphicon-search" style="font-size: 20px"></i></a>
			</div>
		</header>
		

		<!------------------分类-------------------------->
		<div id="wrapper">
			<div id="scroller">
				<ul class="classifyList">
					<li  class="classifyActive" ng-click="chang_channel($event)"><a href="#">头条</a></li>
					<li><a href="#" ng-click="chang_channel($event)">国内焦点</a></li>
					<li><a href="#" ng-click="chang_channel($event)">国际焦点</a></li>
					<li><a href="#" ng-click="chang_channel($event)">军事焦点</a></li>
					<li><a href="#" ng-click="chang_channel($event)">互联网</a></li>
					<li><a href="#" ng-click="chang_channel($event)">教育</a></li>
					<li><a href="#" ng-click="chang_channel($event)">科技</a></li>
					<li><a href="#" ng-click="chang_channel($event)">军事</a></li>
					<li><a href="#" ng-click="chang_channel($event)">NBA</a></li>
					<li><a href="#" ng-click="chang_channel($event)">股票</a></li>
					<li><a href="#" ng-click="chang_channel($event)">星座</a></li>
					<li><a href="#" ng-click="chang_channel($event)">女性</a></li>
					<li><a href="#" ng-click="chang_channel($event)">健康</a></li>
					<li><a href="#" ng-click="chang_channel($event)">游戏</a></li>
					<li><a href="#" ng-click="chang_channel($event)">房产</a></li>
					<li><a href="#" ng-click="chang_channel($event)">汽车</a></li>
					<li><a href="#" ng-click="chang_channel($event)">娱乐焦点</a></li>
				</ul>
			</div>
		</div>
		<div class="classify"><i class="fa fa-th"></i></div>
				
		<!------------------内容------------------------>
		<div class="content">
		    <!-- Swiper ---->
		    <div class="_iscroll">
			    <div class="swiper-container">
			        <div class="swiper-wrapper">
						<div class='swiper-slide'>
							<img src="http://img.mp.itc.cn/upload/20161116/d88c40ffa5c044e88161b084f7efc5aa_th.jpg">
						</div>
						<div class='swiper-slide'>
							<img src="http://img.mp.itc.cn/upload/20161117/5c6ca8932edd49c7b5d8f99604d0dbec_th.jpg">
						</div>
						<div class='swiper-slide'>
							<img src="http://img.mp.itc.cn/upload/20161117/bae7ece8d499460f8e608bb071d78d5f_th.png">
						</div>
						<div class='swiper-slide'>
							<img src="http://img.mp.itc.cn/upload/20161117/6538e5d653b945ccbf8e12fcc58fd19a_th.jpg">
						</div>
			        </div>
			        <!-- Add Pagination -->
			        <div class="swiper-pagination"></div>
			    </div>	
			    
			    <!---------主要内容-------->
			    <div class="keyContent">
			    	<ul>
						<li  class="hasPic" ng-repeat='x in news_data' ng-click="look_detail(x)">
							<div class='picture'  ng-if='x.allList[0].url'>
								<a href="#"><img src={{x.allList[0].url}}></a>
							</div>
							<div class={{x.allList[0].url?"product":"product_nopicture"}}>
								<p class="title">
									<a href="#">{{x.title}}</a>
								</p>
								<p>来源：{{x.source}}</p>
								<div class="prod"></div>
								<div class="time">{{x.pubDate}}</div>
							</div>
						</li>
			    	</ul>
			    </div>
		    </div>
		</div>

		<!------------------脚------------------------>
		<footer>
			<a href="index.html" class="aElement active">
				<i class="icon glyphicon glyphicon-home"></i>
				<strong class="index">主页</strong>
			</a>
			<a href="#" class="aElement">
				<i class="icon glyphicon glyphicon-home"></i>
				<strong class="index">推荐</strong>
			</a>
			<a href="#" class="aElement">
				<i class="icon glyphicon glyphicon-home"></i>
				<strong class="index">直播</strong>
			</a>
			<a href="center.html" class="aElement">
				<i class="icon glyphicon glyphicon-home"></i>
				<strong class="index">个人中心</strong>
			</a>
		</footer>
	</body>
	
	
</html>
